<ul id="messages"></ul>
<form class="chatbox-form" action="">
  <input id="m" autocomplete="off" type="text" placeholder="type message here"" onfocus="if (this.value=='Name') this.value='';" />
  <button  class="btn light-blue accent-4" value="type a message here">chat
        <i class="material-icons right">chat</i>
    </button>
  {{!-- <button>Send</button> --}}
</form>