
<!-- some container for body content }} -->

<div class="container">
    <img id="collage" src="assets/images/collage.jpeg" alt="collage" style="width:100%;">
        <div class="find-help">
            <form action="/servicesList" method="GET">
                <button class="waves-effect waves-light btn NAVIGATE light-blue accent-4" id="find-help" type="submit" name="services-list-button" width="450">Find <br> <br> Help
                </button>
            </form>
        </div>

    <div class="signup">
        <form action="/signupForm" method="GET">
            <button class="waves-effect waves-light btn NAVIGATE light-blue accent-4" id="signup" type="submit" name="sign-up-button" width="450" height="400">Sign up <br>
                <br>to Help
            </button>
        </form>
    </div>
</div>


<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/css" src="/assets/css/style.css"></script>






