<title>


    Node Authentication</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<style>
    body {
        padding-top: 80px;
    }
</style>

<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>
            <span class="fa fa-sign-in"></span> Login</h1>
        
        <!-- LOGIN FORM -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-1">
                        <form action="/api/login">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email-input" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password-input" placeholder="Password">
                            </div>
                            <button id="loggingIn" action="/" type="submit" class="btn btn-default">Login</button>
                        </form>
                            <br />
                            <p class="orSignUpHere">Or sign up
                            <a href="/signupForm">here</a>
                        </p>
                    </div>
                </div>
            </div>

        <hr>

        <div class="text-center">
            <p>A demo by
                <a href="https://github.com/IamGiel/fh-v2">fh-v2</a>.</p>
        </div>

    </div>
</div>