

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
        .buttonFB {
            position: relative;
            bottom:100%;
        }
    </style>


    <div class="container">
        <div class="jumbotron text-center">
            <h1>
            <p>Login or Register:</p>
                <a href="/auth/google" class="btn btn-primary">
                    <div class="buttonFB"><span class="fa fa-google">&nbsp;Facebook</div></span> 
                </a>
        </div>
    </div>
