
{{!-- NOTE: IMAGES MUST HAVE SAME SIZES SO THAT IT DOESNT AFFECT THE SIZE OF MATERIALIZE CARDS --}}
{{!-- PLEASE FEEL FREE TO REPLACE DUMMY IMAGE.  JUST KEEP IN MIND SIZES.  I CHOSE 500 X 500 BELOW --}}



<div class="container" id="services">
<div class="row">
    
    {{!-- first card --}}
    
    <div class="col s12 m3">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light services1">
                <img class="activator" src="assets/images/culinary.jpg">
            </div>

            <div class="card-content">
                <span id="culinary" class="card-title activator grey-text text-darken-4">
                    <p><a href="/workersList/culinary">Culinary</a></p></span> 
            </div>
        </div>
    </div>
    
    {{!-- second --}} 
    
    <div class="col s12 m3">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light services1">
                <img class="activator" src="assets/images/customer-service.jpg">
            </div>

            <div class="card-content">
                <span id="customer-sevice" class="card-title activator grey-text text-darken-4">
                    <p><a href="/workersList/customer%20service">Customer Service</a></p></span>
            </div>
        </div>
    </div>
    
    {{!-- third --}} 
    
    <div class="col s12 m3">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light services1">
                <img class="activator" src="assets/images/education.jpg">
            </div>

            <div class="card-content">
                <span id="education" class="card-title activator grey-text text-darken-4">
                    <p><a href="/workersList/education">Education</a></p>
                </span>
            </div>
        </div>
    </div>
</div>
</div>
    
{{!--row end --}}
{{!-- second row --}} 

<div class="container" id="services2">
<div class="row">
        
    {{!-- first card --}}
        
    <div class="col s12 m3">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light services1">
                <img class="activator" src="assets/images/finances.jpg">
            </div>

            <div class="card-content">
                <span id="finances" class="card-title activator grey-text text-darken-4"><p>
                    <a href="/workersList/finances">Finances</a></p>
                </span>
            </div>
        </div>
    </div>
        
    {{!-- second --}}
        
    <div class="col s12 m3">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light services1">
                <img class="activator" src="assets/images/handy-work.jpg">
            </div>

            <div class="card-content">
                <span id="handy-work" class="card-title activator grey-text text-darken-4"><p>
                    <a href="/workersList/handy%20work">Handy Work</a></p>
                </span>
            </div>
        </div>
    </div>
        
    {{!-- third --}} 

    <div class="col s12 m3">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light services1">
                <img class="activator" src="assets/images/legal.jpg">
            </div>

            <div class="card-content">
                <span id="legal" class="card-title activator grey-text text-darken-4"><p>
                    <a href="/workersList/legal">Legal</a></p>
                </span>
            </div>
        </div>
    </div>
</div>
</div>

{{!--row end --}}
{{!-- third row --}} 

<div class="container" id="services3">
<div class="row">
    
    {{!-- first card --}}
    
    <div class="col s12 m3">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light services1">
                <img class="activator" src="assets/images/media.jpg">
            </div>

            <div class="card-content">
                <span id="media" class="card-title activator grey-text text-darken-4"><p>
                    <a href="/workersList/media">Media</a></p>
                </span>
            </div>
        </div>
    </div>
    
    {{!-- second --}} 
    
    <div class="col s12 m3">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light services1">
                <img class="activator" src="assets/images/real-estate.jpg">
            </div>

            <div class="card-content">
                <span id="real-estate" class="card-title activator grey-text text-darken-4"><p>
                    <a href="/workersList/real%20estate">Real Estate</a></p>
                </span>
            </div>
        </div>
    </div>
    
    {{!-- third --}}
    
    <div class="col s12 m3">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light services1">
                <img class="activator" src="assets/images/technology.jpg">
            </div>

            <div class="card-content">
                <span id="technology" class="card-title activator grey-text text-darken-4"><p>
                    <a href="/workersList/technology">Technology</a></p>
                </span>
            </div>
        </div>
    </div>
</div>
</div>

{{!--row end --}}
    
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>